<div class="container-fluid" style="margin-top: 2em;">
  <button md-raised-button color="primary" [routerLink]="['create']">Crear Nuevo</button>
  <md-table [dataSource]="dataSource">
    <% for (let attribute of attributes) { %>
    <ng-container cdkColumnDef="<%= attribute.name %>">
      <md-header-cell *cdkHeaderCellDef> <%= _.startCase(attribute.name) %> </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.<%= attribute.name %>}} </md-cell>
    </ng-container>
    <% } %>

    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef> Actions </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <a class="cursor-pointer" [routerLink]="['details', row.id]">Ver detalles</a> | <a class="cursor-pointer" [routerLink]="['update', row.id]">Actualizar</a> | <a class="cursor-pointer" (click)="deleteEntity(row.id)">Eliminar</a>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
