<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} <%= entityName.start %></h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="<%= entityName.camel %> && <%= entityName.camel %>._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="<%= entityName.camel %>" type="text" class="form-control" name="id" [(ngModel)]="<%= entityName.camel %>._id" disabled required>
          </div>
          <%
            for (let attributesGroupByRow of attributesGroupByPosition) {
              let widthColumns = parseInt(12 / attributesGroupByRow.length);
              let classGridLayout = 'col-' + widthColumns;
              console.log('classGridLayout: '+classGridLayout);
              for (let attribute of attributesGroupByRow) {
          %>
          <% include _control-type %>
          <% }} %>
          <%
            for (let attribute of attributesWithoutPosition) {
              let classGridLayout = 'col-12';
          %>
          <% include _control-type %>
          <% } %>
          <div id="relationshipsPanel" class="col-12 form-group">
            <%
            if(relationships){
              for (let relation of relationships) {
                if(relation.entRel){
                  var name = relation.entRel.name;
            -%>
            <!-- Button trigger modal <%=name%> -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal<%=name%>">
              <%=name%>
            </button>
            <!-- Modal <%=name%> -->
            <div class="modal fade" id="myModal<%=name%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%=name%></h4>
                    </div>
                    <div class="modal-body container">
                      <app-<%=relation.entRel.naminFormat.kebab%>></app-<%=relation.entRel.naminFormat.kebab%>>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <%  }
              }
            } -%>
          </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="registrar(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="actualizar()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>





      </form>
    </div>
  </div>
</div>
