<div class="container-fluid" style="margin-top: 2em;">
  <button md-raised-button color="primary" [routerLink]="['create']">Crear Nuevo</button>
  <md-table [dataSource]="dataSource">
    <% for (let key in attributes) { %>
    <ng-container cdkColumnDef="<%= key %>">
      <md-header-cell *cdkHeaderCellDef> <%= _.startCase(key) %> </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.<%= key %>}} </md-cell>
    </ng-container>
    <% } %>

    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef> Actions </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button md-raised-button color="primary" [routerLink]="['update', row.id]">Actualizar</button>
        <button md-raised-button color="warn" (click)="deleteEntity(row.id)">Eliminar</button>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
