<md-sidenav mode="over" #sideNav>
  <ul class="list-unstyled nav-mobile">
    <li><button md-button><md-icon class="fix-icon">home</md-icon>INICIO</button></li>
    <li><button md-button><md-icon class="fix-icon">person</md-icon>CONTACTO</button></li>
    <li><button md-button><md-icon class="fix-icon">format_list_bulleted</md-icon>ENTIDADES</button></li>
    <li><button md-button><md-icon class="fix-icon">control_point</md-icon>REGISTRARSE</button></li>
    <li><button md-button><md-icon class="fix-icon">exit_to_app</md-icon>INGRESAR</button></li>
  </ul>
</md-sidenav>
